body,html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMAGENES/FONDO_ROSAS.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.contenedor{
    height: 60%;
    width: 60vw;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.boton-redireccion{
    background-color: crimson;
    color: antiquewhite;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-redireccion:hover{
background-color: darkred;
}

